*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  padding: 70px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
h1{
  margin-bottom: 50px;
  font-size: 32px;
  color: #3A1551;
  text-align: center;
  text-transform: uppercase;
}

h2{
  margin-bottom: 30px;
  font-size: 24px;
  color: #3A1551;
  text-align: center;
  text-transform: uppercase;
}

.item{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px 0;
  border-bottom: 1px solid #3A1551;
}

.item:nth-of-type(1){
  border-top: 1px solid #3A1551;
}

button{
  padding: 20px 40px;
  background-color: #3A1551;
  border: 1px solid #3A1551;
  color: #ffffff;
  outline: none;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: all .2s ease-in;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto 40px auto;
}

button:hover{
  opacity: .8;
  background-color: transparent;
  transition: all .2s ease-in;
  color: #3A1551;
}

p{
  color: #3A1551;
  font-size: 16px;
  width: 80%;
  margin: 0 auto 30px auto;
  text-align: center;
}

.block-green{
  width: 100%;
  height: 50px;
  background-color: green;
}


input{
  width: 70%;
  padding: 15px 40px;
  border: none;
  border-bottom: 1px solid #3A1551;
  color: #3A1551;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  margin-bottom: 40px;
}

.error-length{
  color: red;
}

input[type='checkbox']{
  cursor: pointer;
}

select{
  width: 50%;
  padding: 15px 0;
  margin-bottom: 40px;
}

.block-task12{
  /* width: 50px; */
  height: 50px;
  background-color: green;
  margin-bottom: 40px;
}

img{
  width: 60%;
  height: auto;
}
